@inject IViewLocalizer Localizer
@model HomePageVM

@{
    ViewData["Title"] = "Home Page";
}

<!--loading start-->
<div id="pq-loading">
    <div id="pq-loading-center">
        <img src="~/images/logo.ico" class="img-fluid" alt="loading">
    </div>
</div>
<!--loading End-->

<p class="rs-p-wp-fix"></p>
<rs-module-wrap id="rev_slider_24_1_wrapper" data-alias="home-1" data-source="gallery"
                style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
    <rs-module id="rev_slider_24_1" data-version="6.5.19">
        <rs-slides>
            <rs-slide style="position: absolute;" data-key="rs-84" data-title="Slide"
                      data-thumb="rev/assets/1-51-50x100.jpg" data-anim="ms:600;" data-in="o:0;" data-out="a:false;">
                <img src="rev/assets/1-51.jpg" alt="" title="1-51.jpg" class="rev-slidebg tp-rs-img" data-no-retina>
                <!--
                   -->
                <rs-layer class="content" id="slider-24-slide-84-layer-0" data-type="text" data-color="#666666" data-rsp_ch="on"
                          data-xy="xo:30px;y:m;yo:2px,17px,29px,17px;" data-text="w:normal;s:16,16,14,12;l:32,24,22,20;fw:600;"
                          data-dim="w:654px,565px,436px,268px;h:auto,auto,45px,27px;" data-vbility="t,t,t,f"
                          data-frame_0="x:50,39,22px,13px;y:0,0,0px,0px;"
                          data-frame_1="x:0,0,0px,0px;y:0,0,0px,0px;st:1100;sp:1000;sR:1100;" data-frame_999="o:0;st:w;sR:6900;"
                          style="z-index:11;font-family:'Quicksand';margin-top: 130px;">
                    @Localizer["ContentSlider_1"]
                </rs-layer>
                <!--
                   -->
                <rs-layer id="slider-24-slide-84-layer-1" data-type="text" data-color="#2490eb" data-rsp_ch="on"
                          data-xy="xo:41px,38px,38px,39px;y:m;yo:-197px,-154px,-121px,-78px;"
                          data-text="w:normal;s:14,14,14,13;l:22,22,26,21;fw:600;" data-dim="w:auto,auto,auto,144px;"
                          data-frame_0="x:50,39,29,17;" data-frame_1="st:600;sp:1000;sR:600;" data-frame_999="o:0;st:w;sR:7400;"
                          style="z-index:9;font-family:'Quicksand';text-transform:uppercase;">
                    @Localizer["SubTitleSlider_1"]
                </rs-layer>
                <!--
                   -->
                <rs-layer id="slider-24-slide-84-layer-2" data-type="text" data-color="#18100f" data-rsp_ch="on"
                          data-xy="xo:30px,30px,30px,31px;y:m;yo:-105px,-75px,-50px,-30px;"
                          data-text="w:normal;s:64,48,42,22;l:72,56,50,30;fw:600;"
                          data-border="boc:#14457b;bow:1px,1px,1px,1px;" data-frame_0="x:50,39,29,17;"
                          data-frame_1="st:900;sp:1000;sR:900;" data-frame_999="o:0;st:w;sR:7100;"
                          style="z-index:10;font-family:'Quicksand';text-transform:capitalize;">
                    @Localizer["TitleSlider_1"]
                </rs-layer>
                <!--
                   -->
                <rs-layer id="slider-24-slide-84-layer-4" data-type="shape" data-rsp_ch="on"
                          data-xy="xo:30px;yo:202px,155px,114px,85px;" data-text="w:normal;s:20,15,11,6;l:0,19,14,8;"
                          data-dim="w:164px,158px,160px,155px;h:30px,30px,30px,25px;" data-border="bor:3px,3px,3px,3px;"
                          data-frame_0="x:50,39,29,17;" data-frame_1="st:600;sp:1000;sR:600;" data-frame_999="o:0;st:w;sR:7400;"
                          style="z-index:8;background-color:#d3e9fb;">
                </rs-layer>
                <!--
                   -->
            </rs-slide>
            <rs-slide style="position: absolute;" data-key="rs-85" data-title="Slide"
                      data-thumb="rev/assets/2-51-50x100.jpg" data-in="o:0;" data-out="a:false;">
                <img src="rev/assets/2-51.jpg" alt="" title="2-51.jpg" class="rev-slidebg tp-rs-img" data-no-retina>
                <!--
                   -->
                <rs-layer class="content" id="slider-24-slide-85-layer-0" data-type="text" data-color="#666666" data-rsp_ch="on"
                          data-xy="xo:30px;y:m;yo:2px,17px,29px,17px;" data-text="w:normal;s:16,16,14,12;l:32,24,22,20;fw:600;"
                          data-dim="w:654px,565px,436px,268px;h:auto,auto,45px,27px;" data-vbility="t,t,t,f"
                          data-frame_0="x:50,39,22px,13px;y:0,0,0px,0px;"
                          data-frame_1="x:0,0,0px,0px;y:0,0,0px,0px;st:1700;sp:1000;" data-frame_999="o:0;st:w;sR:6370;"
                          style="z-index:11;font-family:'Quicksand'; margin-top: 110px;">
                    @Localizer["ContentSlider_2"]
                </rs-layer>
                <!--
                   -->
                <rs-layer id="slider-24-slide-85-layer-1" data-type="text" data-color="#2490eb" data-rsp_ch="on"
                          data-xy="xo:41px,38px,38px,37px;y:m;yo:-197px,-154px,-121px,-75px;"
                          data-text="w:normal;s:14,14,14,13;l:22,22,26,21;fw:600;" data-frame_0="x:50,39,29,17;"
                          data-frame_1="st:1100;sp:1000;sR:1100;" data-frame_999="o:0;st:w;sR:6900;"
                          style="z-index:9;font-family:'Quicksand';text-transform:uppercase;">
                    @Localizer["SubTitleSlider_2"]
                </rs-layer>
                <!--
                   -->
                <rs-layer id="slider-24-slide-85-layer-2" data-type="text" data-color="#18100f" data-rsp_ch="on"
                          data-xy="xo:30px,30px,30px,31px;y:m;yo:-105px,-75px,-50px,-30px;"
                          data-text="w:normal;s:64,48,42,22;l:72,56,50,30;fw:600;"
                          data-border="boc:#14457b;bow:1px,1px,1px,1px;" data-frame_0="x:50,39,29,17;"
                          data-frame_1="st:1400;sp:1000;sR:1400;" data-frame_999="o:0;st:w;sR:6600;"
                          style="z-index:10;font-family:'Quicksand';text-transform:capitalize;">
                    @Localizer["TitleSlider_2"]
                </rs-layer>
                <!--
                   -->
                <rs-layer id="slider-24-slide-85-layer-4" data-type="shape" data-rsp_ch="on"
                          data-xy="xo:30px;yo:202px,155px,114px,86px;" data-text="w:normal;s:20,15,11,6;l:0,19,14,8;"
                          data-dim="w:233px,227px,227px,212px;h:30px,30px,30px,25px;" data-border="bor:3px,3px,3px,3px;"
                          data-frame_0="x:50,39,29,17;" data-frame_1="st:1100;sp:1000;" data-frame_999="o:0;st:w;"
                          style="z-index:8;background-color:#d3e9fb;">
                </rs-layer>
                <!--
                   -->
            </rs-slide>
            <rs-slide style="position: absolute;" data-key="rs-86" data-title="Slide"
                      data-thumb="rev/assets/3-2-50x100.jpg" data-in="o:0;" data-out="a:false;">
                <img src="rev/assets/3-2.jpg" alt="" title="3-2" class="rev-slidebg tp-rs-img" data-no-retina>
                <!--
                   -->
                <rs-layer class="content" id="slider-24-slide-86-layer-0" data-type="text" data-color="#666666" data-rsp_ch="on"
                          data-xy="xo:30px;y:m;yo:2px,17px,29px,17px;" data-text="w:normal;s:16,16,14,12;l:32,24,22,20;fw:600;"
                          data-dim="w:654px,565px,436px,268px;h:auto,auto,45px,27px;" data-vbility="t,t,t,f"
                          data-frame_0="x:50,39,22px,13px;y:0,0,0px,0px;"
                          data-frame_1="x:0,0,0px,0px;y:0,0,0px,0px;st:1700;sp:1000;" data-frame_999="o:0;st:w;sR:6370;"
                          style="z-index:11;font-family:'Quicksand'; margin-top: 140px;">
                    @Localizer["ContentSlider_3"]
                </rs-layer>
                <!--
                   -->
                <rs-layer id="slider-24-slide-86-layer-1" data-type="text" data-color="#2490eb" data-rsp_ch="on"
                          data-xy="xo:41px,38px,38px,37px;y:m;yo:-197px,-154px,-121px,-81px;"
                          data-text="w:normal;s:14,14,14,13;l:22,22,26,21;fw:600;" data-frame_0="x:50,39,29,17;"
                          data-frame_1="st:1100;sp:1000;sR:1100;" data-frame_999="o:0;st:w;sR:6900;"
                          style="z-index:9;font-family:'Quicksand';text-transform:uppercase;">
                    @Localizer["SubTitleSlider_3"]
                </rs-layer>
                <!--
                   -->
                <rs-layer id="slider-24-slide-86-layer-2" data-type="text" data-color="#18100f" data-rsp_ch="on"
                          data-xy="xo:30px,30px,30px,31px;y:m;yo:-105px,-75px,-50px,-30px;"
                          data-text="w:normal;s:64,48,42,22;l:72,56,50,30;fw:600;"
                          data-border="boc:#14457b;bow:1px,1px,1px,1px;" data-frame_0="x:50,39,29,17;"
                          data-frame_1="st:1400;sp:1000;sR:1400;" data-frame_999="o:0;st:w;sR:6600;"
                          style="z-index:10;font-family:'Quicksand';text-transform:capitalize;">
                    @Localizer["TitleSlider_3"]
                </rs-layer>
                <!--
                   -->
                <rs-layer id="slider-24-slide-86-layer-4" data-type="shape" data-rsp_ch="on"
                          data-xy="xo:30px;yo:202px,155px,114px,81px;" data-text="w:normal;s:20,15,11,6;l:0,19,14,8;"
                          data-dim="w:178px,171px,172px,158px;h:30px,30px,30px,25px;" data-border="bor:3px,3px,3px,3px;"
                          data-frame_0="x:50,39,29,17;" data-frame_1="st:1100;sp:1000;" data-frame_999="o:0;st:w;"
                          style="z-index:8;background-color:#d3e9fb;">
                </rs-layer>
                <!--
                   -->
            </rs-slide>
        </rs-slides>
        <rs-static-layers>
            <!--
               -->
        </rs-static-layers>
    </rs-module>
</rs-module-wrap>


<section class="servicebox p-lg-0 pb-0 pq-bg-grey ">
    <div class="container pq-mt-60">
        <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 col-12 mb-4">
            <div class="pq-info-box pq-style-1">
                <div class="pq-info-box-right-icon"> <i class="fas fa-file-signature"></i> </div>
                <div class="pq-info-box-icon"><i class=" flaticon-doctor"></i></div>
                <h5 class="pq-info-title">@Localizer["TitleService_1"]</h5>
                <p class="pq-infobox-description">
                    @Localizer["ContentService_1"]
                </p>
                <a class="pq-button pq-button-flat special-btn" href="tips.html">
                    <div class="pq-button-block"> <span class="pq-button-text">@Localizer["More"]</span> <i class="ion ion-plus-round"></i> </div>
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12 pt-md-0 pt-4 mb-4">
            <div class="pq-info-box pq-style-2">
                <div class="pq-info-box-right-icon"> <i class=" flaticon-medical-doctor"></i> </div>
                <div class="pq-info-box-icon"><i class="fa-solid fa-disease"></i></div>
                <h5 class="pq-info-title">@Localizer["TitleService_2"]</h5>
                <p class="pq-infobox-description">
                    @Localizer["ContentService_2"]
                </p>
                <a class="pq-button pq-button-flat" href="Detection.html">
                    <div class="pq-button-block"> <span class="pq-button-text">@Localizer["More"]</span> <i class="ion ion-plus-round"></i> </div>
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12 pt-md-0 pt-4 mb-4">
            <div class="pq-info-box pq-style-2">
                <div class="pq-info-box-right-icon"> <i class="fa-solid fa-fingerprint"></i> </div>
                <div class="pq-info-box-icon"><i class=" flaticon-medical-history"></i></div>
                <h5 class="pq-info-title">@Localizer["TitleService_3"]</h5>
                <p class="pq-infobox-description">
                    @Localizer["ContentService_3"]
                </p>
                <a class="pq-button pq-button-flat" href="box.html">
                    <div class="pq-button-block"> <span class="pq-button-text">@Localizer["More"]</span> <i class="ion ion-plus-round"></i> </div>
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12 pt-xl-0 pt-4">
            <div class="pq-info-box pq-style-3">
                <div class="pq-info-box-right-icon"> <i class=" flaticon-care"></i> </div>
                <div class="pq-info-box-icon"><i class="fa-solid fa-seedling"></i></div>
                <h5 class="pq-info-title">@Localizer["TitleService_4"]</h5>
                <p class="pq-infobox-description">
                    @Localizer["ContentService_4"]
                </p>
                <a class="pq-button pq-button-flat special-btn" href="box.html">
                    <div class="pq-button-block"> <span class="pq-button-text">@Localizer["More"]</span> <i class="ion ion-plus-round"></i> </div>
                </a>
            </div>
        </div>
        </div>
    </div>
</section>
   <!--Section End-->

   <!--Section about start-->
   <section class="about pq-bg-grey pq-dark-bg-side-right mt-5">
      <div class="container">
         <div class="row ">
            <div class="col-lg-6 col-md-12 col-xl-5 pb-lg-0 pb-5">
               <div class="pq-section pq-style-1 text-left mb-4"> <span class="pq-section-sub-title">@Localizer["SubTitleAbout"]</span>
                  <h5 class="pq-section-title">@Localizer["TitleAbout"]</h5>
                  <p class="pq-section-description">
                     @Localizer["ContentAbout"]
                  </p>
               </div>
               <a class="pq-button pq-button-flat mt-4" href="about-us.html">
                  <div class="pq-button-block"> <span class="pq-button-text">@Localizer["More"]</span> <i class="ion ion-plus-round"></i> </div>
               </a>
            </div>
            <div class="col-lg-6 col-md-12 col-xl-5 pe-lg-3 pq-img-none">
               <img data-src="./images/about.jpg" class="lazy img-fluid" alt="servicebox">
            </div>
            <div class="col-xl-2 col-lg-12 col-md-12 py-xl-0 py-5 align-self-center pq-form-counter pq-bg-primary-dark">
               <div class="pq-counter pq-style-2">
                  <div class="pq-counter-contain">
                     <div class="pq-counter-info text-center">
                        <div class="pq-counter-num-prefix">
                           <h5 class="timer" data-to="450" data-speed="5000">450</h5> <span
                              class="pq-counter-prefix">+</span>
                        </div>
                        <div class="pq-counter-num-prefix pq-prefix-top">
                           <h5 class="timer" data-to="450" data-speed="5000">450</h5> <span
                              class="pq-counter-prefix">+</span>
                        </div>
                        <p class="pq-counter-description">@Localizer["HappyPatients"]</p>
                     </div>
                  </div>
               </div>
               <div class="pq-counter pq-style-2">
                  <div class="pq-counter-contain">
                     <div class="pq-counter-info text-center">
                        <div class="pq-counter-num-prefix">
                           <h5 class="timer" data-to="100" data-speed="5000">100</h5> <span
                              class="pq-counter-prefix">+</span>
                        </div>
                        <div class="pq-counter-num-prefix pq-prefix-top">
                           <h5 class="timer" data-to="100" data-speed="5000">100</h5> <span
                              class="pq-counter-prefix">+</span>
                        </div>
                        <p class="pq-counter-description">@Localizer["SavedLungs"]</p>
                     </div>
                  </div>
               </div>
               <div class="pq-counter pq-style-2">
                  <div class="pq-counter-contain">
                     <div class="pq-counter-info text-center">
                        <div class="pq-counter-num-prefix">
                           <h5 class="timer" data-to="59" data-speed="5000">59</h5> <span
                              class="pq-counter-prefix">+</span>
                        </div>
                        <div class="pq-counter-num-prefix pq-prefix-top">
                           <h5 class="timer" data-to="59" data-speed="5000">59</h5> <span
                              class="pq-counter-prefix">+</span>
                        </div>
                        <p class="pq-counter-description">@Localizer["ExpertDoctors"]</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--Section about End-->

   <!--Section service start-->
   <section class="service pt-5 pb-5">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <div class="pq-section pq-style-1 text-center"> <span class="pq-section-sub-title">@Localizer["Diseases"]</span>
                  <h5 class="pq-section-title">@Localizer["SomeCommonDiseases"]</h5>
               </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 pq-lg-border-bottom pq-lg-border-right">
               <div class="pq-fancy-box pq-style-1 text-center">
                  <img class="lazy" data-src="./images/diseases/Tuberculosis.png" alt="">
                  <div class="pq-fancy-box-info">
                        <h5 class="pq-fancy-box-title">@Localizer["TitleDisease_1"]</h5>
                     <p class="pq-fancybox-description">
                        @Localizer["ContentDisease_1"]
                     </p>
                     <a class="pq-button pq-button-link" href="angioplasty-services.html">
                        <div class="pq-button-block"> <span class="pq-button-text">@Localizer["More"]</span> <i class="ion ion-plus-round"></i> </div>
                     </a>
                  </div>
               </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 pq-lg-border-bottom pq-lg-border-right">
               <div class="pq-fancy-box pq-style-1 text-center">
                  <img class="lazy" data-src="./images/diseases/Pneumonia.png" alt="">
                  <div class="pq-fancy-box-info">
                        <h5 class="pq-fancy-box-title">@Localizer["TitleDisease_2"]</h5>
                     <p class="pq-fancybox-description">
                            @Localizer["ContentDisease_2"]
                     </p>
                     <a class="pq-button pq-button-link" href="cardiology-services.html">
                        <div class="pq-button-block"> <span class="pq-button-text">@Localizer["More"]</span> <i class="ion ion-plus-round"></i> </div>
                     </a>
                  </div>
               </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 pq-lg-border-bottom pq-lg-border-right">
               <div class="pq-fancy-box pq-style-1 text-center">
                  <img class="lazy" data-src="./images//diseases/Lung Cancer.png" alt="">
                  <div class="pq-fancy-box-info">
                        <h5 class="pq-fancy-box-title">@Localizer["TitleDisease_3"]</h5>
                     <p class="pq-fancybox-description">
                            @Localizer["ContentDisease_3"]
                     </p>
                     <a class="pq-button pq-button-link" href="dental-services.html">
                        <div class="pq-button-block"> <span class="pq-button-text">@Localizer["More"]</span> <i class="ion ion-plus-round"></i> </div>
                     </a>
                  </div>
               </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 pq-lg-border-bottom pq-lg-border-right">
               <div class="pq-fancy-box pq-style-1 text-center">
                  <img class="lazy" data-src="./images/diseases/COVID.png" alt="">
                  <div class="pq-fancy-box-info">
                     <h5 class="pq-fancy-box-title">@Localizer["TitleDisease_4"]</h5>
                     <p class="pq-fancybox-description">
                        @Localizer["ContentDisease_4"]
                     </p>
                     <a class="pq-button pq-button-link" href="endocrinology-services.html">
                        <div class="pq-button-block"> <span class="pq-button-text">@Localizer["More"]</span> <i class="ion ion-plus-round"></i> </div>
                     </a>
                  </div>
               </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 pq-lg-border-right pq-lg-border-bottom">
               <div class="pq-fancy-box pq-style-1 text-center">
                  <img class="lazy" data-src="./images/diseases/Asthma.png" alt="">
                  <div class="pq-fancy-box-info">
                     <h5 class="pq-fancy-box-title">@Localizer["TitleDisease_5"]</h5>
                     <p class="pq-fancybox-description">
                        @Localizer["ContentDisease_5"]
                     </p>
                     <a class="pq-button pq-button-link" href="eye-care-services.html">
                        <div class="pq-button-block"> <span class="pq-button-text">@Localizer["More"]</span> <i class="ion ion-plus-round"></i> </div>
                     </a>
                  </div>
               </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 pq-lg-border-bottom pq-lg-border-right">
               <div class="pq-fancy-box pq-style-1 text-center">
                  <img class="lazy" data-src="./images/diseases/Chronic.png" alt="">
                  <div class="pq-fancy-box-info">
                     <h5 class="pq-fancy-box-title">@Localizer["TitleDisease_6"]</h5>
                     <p class="pq-fancybox-description">
                        @Localizer["ContentDisease_6"]
                     </p>
                     <a class="pq-button pq-button-link" href="nurology-service.html">
                        <div class="pq-button-block"> <span class="pq-button-text">@Localizer["More"]</span> <i class="ion ion-plus-round"></i> </div>
                     </a>
                  </div>
               </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 pq-lg-border-right pq-lg-border-bottom">
               <div class="pq-fancy-box pq-style-1 text-center">
                    <img class="lazy" data-src="./images/diseases/Hypertension.png" alt="">
                  <div class="pq-fancy-box-info">
                     <h5 class="pq-fancy-box-title">@Localizer["TitleDisease_7"]</h5>
                     <p class="pq-fancybox-description">
                        @Localizer["ContentDisease_7"]
                     </p>
                     <a class="pq-button pq-button-link" href="orthopaedics-services.html">
                        <div class="pq-button-block"> <span class="pq-button-text">@Localizer["More"]</span> <i class="ion ion-plus-round"></i> </div>
                     </a>
                  </div>
               </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 pq-lg-border-right pq-lg-border-bottom">
               <div class="pq-fancy-box pq-style-1 text-center">
                    <img class="lazy" data-src="./images/diseases/Artery.png" alt="">
                  <div class="pq-fancy-box-info">
                     <h5 class="pq-fancy-box-title">@Localizer["TitleDisease_8"]</h5>
                     <p class="pq-fancybox-description">
                        @Localizer["ContentDisease_8"]
                     </p>
                     <a class="pq-button pq-button-link" href="rmi-services.html">
                        <div class="pq-button-block"> <span class="pq-button-text">@Localizer["More"]</span> <i class="ion ion-plus-round"></i> </div>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--Section service End-->

   <!--Section blog Start-->
   <section class="pq-blog pq-bg-grey pt-5 pb-5">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
                <div class="pq-section pq-style-1 text-center">
                    <span class="pq-section-sub-title">@Localizer["MedicalAdvices"]</span>
                    <h5 class="pq-section-title">@Localizer["LatestMedicalAdvices"]</h5>
               </div>
            </div>
            <div class="col-lg-12">
               <div class="owl-carousel owl-theme" data-dots="false" data-nav="false" data-desk_num="3" data-lap_num="2"
                  data-tab_num="2" data-mob_num="1" data-mob_sm="1" data-autoplay="true" data-loop="true"
                  data-margin="30">
                    @foreach (var item in Model.LatestAdvices!)
                    {
                        <div class="item">
                            <div class="pq-blog-post">
                                <div class="ajaxbg d-none">
                                    <img src="~/images/giphy.gif" />
                                </div>
                                <a asp-controller="Advice" asp-action="AdviceDetails" asp-route-id="@item.Id">
                                    <div class="pq-post-media">
                                        <a class="add_fav" asp-controller="Favorite" asp-action="AddToFavorite" asp-route-Id="@item.Id" data-id="@item.Id">
                                            <div class="fav_box">
                                                <i class="far fa-heart"></i>
                                            </div>
                                        </a>
                                        <img src="data:image/*;base64,@(Convert.ToBase64String(item.Image))" class="img-fluid" alt="">
                                        <div class="pq-post-date">
                                            <a> <span class="moment-date">@item.CreationDateTime.ToString("dddd, dd MMMM yyyy HH:mm:ss", new System.Globalization.CultureInfo("en-US"))</span></a>
                                        </div>
                                    </div>
                                </a>
                                <div class="pq-blog-contain">
                                    <div class="pq-post-meta">
                                        <ul class="d-flex align-items-center justify-content-between">
                                            <li class="pq-post-author">
                                                <a asp-controller="User" asp-action="Index" asp-route-userName="@item.User.UserName">
                                                    <div class="d-flex align-items-center">
                                                        <div class="doctorImage">
                                                            @if (item.User.Photo is not null)
                                                            {
                                                                <img src="data:image/*;base64,@(Convert.ToBase64String(item.User.Photo))" class="w-100 h-100" alt="">
                                                            }
                                                            else
                                                            {
                                                                <img src="~/images/person.png" class="w-100 h-100" alt="">
                                                            }
                                                        </div>
                                                        <div class="name">@item.User.FullName</div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="pq-post-comment">
                                                <a>
                                                    <i class="fa fa-comments"></i>
                                                    @item.CommentsCount @Localizer["Comment"]
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="pq-post-meta">
                                        <ul class="d-flex align-items-center justify-content-between">
                                            <li class="pq-post-author">
                                                <i class="fas fa-stethoscope"></i>
                                                @item.DiseaseTypeName_EN
                                            </li>
                                            <li class="pq-post-comment">
                                                <i class="fas fa-disease"></i>
                                                @item.DiseaseName_EN
                                            </li>
                                        </ul>
                                    </div>
                                    <h5 class="pq-blog-title">
                                        <a asp-controller="Advice" asp-action="AdviceDetails" asp-route-id="@item.Id">
                                            @item.Title.Substring(0, 20)....
                                        </a>
                                    </h5>
                                    <div class="pq-blog-info">
                                        <p>
                                            @item.Content.Substring(0, 100)....
                                        </p>
                                    </div>
                                    <a asp-controller="Advice" asp-action="AdviceDetails" asp-route-id="@item.Id"
                                   class="pq-button pq-button-flat">
                                        <div class="pq-button-block">
                                            <span class="pq-button-text">@Localizer["More"]</span>
                                            <i class="ion ion-plus-round"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--Section blog End-->

@section Scripts {
    @{
        await Html.RenderPartialAsync("_Notification");
    }
    <script>
        $(function () {
            $("a.add_fav").click(function (e) {
                e.preventDefault();

                let id = $(this).data("id");
                let ajaxDiv = $(this).parent().parent().parent().find("div.ajaxbg");
                ajaxDiv.removeClass("d-none");

                $.get('/Favorite/AddToFavorite/' + id, {}, function (data) {
                    $(".favorite").html(data);
                    ajaxDiv.find("img").addClass("d-none");
                    setTimeout(() => {
                        ajaxDiv.animate({ opacity: 0 }, function () {
                            $(this).addClass("d-none").fadeTo(.1, 1);
                            $(this).find("img").removeClass("d-none");
                        });
                    });
                });
            });
        });
    </script>
}