@model AdviceDetailsVM

@{
    ViewData["Title"] = "Advice Details";
}

<!--============= breadcrumb start ===============-->
<div class="pq-breadcrumb" style="background-image: url('../../rev/assets/page-title4.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <div class="pq-breadcrumb-title">
                        <h2>Advice Details</h2>
                    </div>
                    <div class="pq-breadcrumb-container mt-2">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a asp-controller="Home" asp-action="Index">
                                    <i class="fas fa-home mr-2"></i>Home
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a asp-action="Index">
                                    <i class="fas fa-file-signature"></i>Medical Advices
                                </a>
                            </li>
                            <li class="breadcrumb-item active">Advice Details</li>
                        </ol>
                    </div>
                </nav>
            </div>
            <div class="col-lg-4">
                <div class="pq-breadcrumb-img text-right wow fadeInRight animated" style="visibility: visible;">
                </div>
            </div>
        </div>
    </div>
</div>
<!--============= breadcrumb End ===============-->

<!--============= AdviceDetails Start ===============-->
<div class="advice_details advices">
    <div class="blog-single pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-12">
                    <div class="pq-blog-post">
                        <div class="ajaxbg d-none">
                            <img src="~/images/giphy.gif" />
                        </div>
                        <div class="pq-post-media" data-aos-delay="100" data-aos-duration="800" data-aos="zoom-in">
                            <a class="add_fav" asp-controller="Favorite" asp-action="AddToFavorite" asp-route-Id="@Model.Advice.Id" data-id="@Model.Advice.Id">
                                <div class="fav_box">
                                    <i class="far fa-heart"></i>
                                </div>
                            </a>
                            <img data-src="data:image/*;base64,@(Convert.ToBase64String(Model.Advice.Image))" class="lazy img-fluid" alt="medicate">
                            <div class="pq-post-date">
                                <a href="#"> <span class="moment-date">@Model.Advice.CreationDateTime.ToString("dddd, dd MMMM yyyy HH:mm:ss", new System.Globalization.CultureInfo("en-US"))</span> </a>
                            </div>
                        </div>
                        <div class="pq-blog-contain">
                            <div class="pq-post-meta">
                                <ul class="d-flex align-items-center justify-content-between">
                                    <li class="pq-post-author" data-aos-delay="100" data-aos-duration="800" data-aos="zoom-in">
                                        <a asp-controller="User" asp-action="Index" asp-route-userName="@Model.Advice.AppUser.UserName">
                                            <div class="d-flex align-items-center">
                                                <div class="doctorImage">
                                                    @if (Model.Advice.AppUser!.Photo is null)
                                                    {
                                                        <img data-src="~/images/person.png" class="lazy w-100 h-100" alt="">
                                                    }
                                                    else {
                                                        <img data-src="data:image/*;base64,@(Convert.ToBase64String(Model.Advice.AppUser.Photo))" class="lazy w-100 h-100" alt="">
                                                    }
                                                </div>
                                                <div class="name">@Model.Advice.AppUser.FullName</div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="pq-post-comment" data-aos-delay="100" data-aos-duration="800" data-aos="zoom-in">
                                        <a>
                                            <i class="fa fa-comments"></i>
                                            @Model.Advice.Comments.Count() Comments
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="pq-post-meta" data-aos-delay="100" data-aos-duration="800" data-aos="zoom-in">
                                <ul class="d-flex align-items-center justify-content-between">
                                    <li class="pq-post-author">
                                        <i class="fas fa-stethoscope"></i>
                                        @Model.Advice.DiseaseType.Name_EN
                                    </li>
                                    <li class="pq-post-comment">
                                        <i class="fas fa-disease"></i>
                                        @Model.Advice.Disease.Name_EN
                                    </li>
                                </ul>
                            </div>
                            <h3 class="mb-3" data-aos-delay="100" data-aos-duration="800" data-aos="zoom-in">@Model.Advice.Title</h3>
                            <p data-aos-delay="100" data-aos-duration="800" data-aos="zoom-in">
                                @Model.Advice.Content
                            </p>
                        </div>
                    </div>
                    <div id="comments" class="pq-comment-area" data-aos-delay="100" data-aos-duration="800" data-aos="zoom-in">
                        <div class="mb-3 d-flex justify-content-between align-items-center">
                            <div>
                                <h3 class="comments-title pt-0">@Model.Advice.Comments.Count() Comment </h3>
                            </div>
                            <div>
                                @if (ViewBag.UserId is not null) {
                                    <button class="btn btn-primary add_advice openModelComment">
                                        Add Comment <i class="fas fa-plus"></i>
                                    </button>
                                }
                            </div>
                        </div>
                        <ol class="commentlist">
                            @if (Model.LstComments is not null) {
                                @foreach (var comment in Model.LstComments)
                                {
                                    <li class="comment even thread-even depth-1">
                                        <div class="comment-body">
                                            <div class="pq-comment-info">
                                                <div class="pq-comment-wrap">
                                                    <a asp-controller="User" asp-action="Index" asp-route-userName="@comment.AppUser.UserName">
                                                          <div class="pq-comment-avatar"> 
                                                            @if(comment.AppUser.Photo is null) {
                                                                <img src="~/images/person.png"> 
                                                            } 
                                                            else {
                                                                <img class="lazy" data-src="data:image/*;base64,@(Convert.ToBase64String(comment.AppUser.Photo))">
                                                            }
                                                        </div>
                                                    </a>
                                                    <div class="pq-comment-box">
                                                        <h5 class="title">
                                                            @if (!String.IsNullOrEmpty(comment.AppUser.FullName)) {
                                                                <a asp-controller="User" asp-action="Index" asp-route-userName="@comment.AppUser.UserName">@comment.AppUser.FullName</a>
                                                            }
                                                            else {
                                                                <a asp-controller="User" asp-action="Index" asp-route-userName="@comment.AppUser.UserName">@comment.AppUser.UserName</a>
                                                            }
                                                        </h5>
                                                        <p class="dateTime mb-2 moment-date">@comment.CreationDateTime.ToString("dddd, dd MMMM yyyy HH:mm:ss", new System.Globalization.CultureInfo("en-US"))</p>
                                                        <!-- .comment-metadata -->
                                                        <div class="comment-content">
                                                            <p>@comment.Comment</p>
                                                        </div>
                                                        <!-- .comment-content -->
                                                        <!-- .reply -->
                                                        @if (ViewBag.UserId is not null) {
                                                            <div class="d-flex mt-3 justify-content-between align-items-center">
                                                                <div>
                                                                    <a class="replay openModelReplay">
                                                                        Replay
                                                                        <input type="hidden" value="@comment.Id" />
                                                                    </a>
                                                                </div>
                                                                @if (ViewBag.UserId == comment.AppUserId) {
                                                                    <div>
                                                                        <a onClick=Delete("/Advice/DeleteComment/@comment.Id--@ViewBag.UserId") class="deleteAdvice">
                                                                            <i class="fas fa-trash-alt"></i>
                                                                        </a>
                                                                        <a class="openModelComment editComment">
                                                                            <i class="fas fa-edit"></i>
                                                                            <input class="id" type="hidden" value="@comment.Id" />
                                                                            <input class="comment" type="hidden" value="@comment.Comment" />
                                                                        </a>
                                                                    </div>
                                                                }
                                                            </div>
                                                        }

                                                    </div>
                                                    <!-- .comment-author -->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- .comment-body -->

                                        @if (Model.LstReplays is not null) {
                                            @foreach (var replay in Model.LstReplays.Where(a=>a.CommentId == comment.Id))
                                            {
                                                <ol class="children">
                                                    <li class="comment mt-3 byuser comment-author-admin bypostauthor odd alt depth-2">
                                                        <div class="comment-body">
                                                            <div class="pq-comment-info">
                                                                <div class="pq-comment-wrap">
                                                                    <a asp-controller="User" asp-action="Index" asp-route-userName="@replay.AppUser.UserName">
                                                                        <div class="pq-comment-avatar">
                                                                            @if (replay.AppUser.Photo is null)
                                                                            {
                                                                                <img class="lazy" data-src="~/images/person.png">
                                                                            }
                                                                            else
                                                                            {
                                                                                <img class="lazy" data-src="data:image/*;base64,@(Convert.ToBase64String(replay.AppUser.Photo))">
                                                                            }
                                                                        </div>
                                                                    </a>
                                                                    <div class="pq-comment-box">
                                                                        <h5 class="title">
                                                                            @if (!String.IsNullOrEmpty(replay.AppUser.FullName))
                                                                            {
                                                                                <a asp-controller="User" asp-action="Index" asp-route-userName="@replay.AppUser.UserName">@replay.AppUser.FullName</a>
                                                                            }
                                                                            else
                                                                            {
                                                                                <a asp-controller="User" asp-action="Index" asp-route-userName="@replay.AppUser.UserName">@replay.AppUser.UserName</a>
                                                                            }
                                                                        </h5>
                                                                        <p class="dateTime mb-2 moment-date">@replay.CreationDateTime.ToString("dddd, dd MMMM yyyy HH:mm:ss", new System.Globalization.CultureInfo("en-US"))</p>
                                                                        <div class="pq-comment-metadata"> </div>
                                                                        <!-- .comment-metadata -->
                                                                        <div class="d-flex justify-content-between align-items-center">
                                                                            <div class="comment-content">
                                                                                <p>@replay.Replay</p>
                                                                            </div>
                                                                            <!-- .comment-content -->
                                                                            @if (ViewBag.UserId == replay.AppUserId)
                                                                            {
                                                                                <div>
                                                                                    <a onClick=DeleteReplay("/Advice/DeleteReplay/@replay.Id--@ViewBag.UserId") class="deleteAdvice">
                                                                                        <i class="fas fa-trash-alt"></i>
                                                                                    </a>
                                                                                    <a class="openModelReplay editReplay">
                                                                                        <i class="fas fa-edit"></i>
                                                                                        <input class="id" type="hidden" value="@replay.Id" />
                                                                                        <input class="commentId" type="hidden" value="@comment.Id" />
                                                                                        <input class="replay" type="hidden" value="@replay.Replay" />
                                                                                    </a>
                                                                                </div>
                                                                            }
                                                                        </div>

                                                                    </div>
                                                                    <!-- .comment-author -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- .comment-body -->
                                                    </li>
                                                    <!-- #comment-## -->
                                                </ol>
                                            }
                                        }
                                    <!-- .children -->
                                    </li>
                                }
                            }
                            <!-- #comment-## -->
                        </ol>
                        <!-- .commentlist -->
                    </div>
                    <!-- #comments -->


                    <!-- Model Form Comment -->
                    <div id="modelComment" class="modal model">
                        <!-- Modal content -->
                        <div class="modal-content">
                            <h4 class="modal-title">Comment</h4>
                            <span class="close3">&times;</span>
                            <hr class="mt-3 mb-3">
                            <form asp-action="SaveComment" role="form" method="post">

                                @*Id*@
                                <input class="id" type="hidden" asp-for="Comment.Id" value="0" />

                                @*User Id*@
                                <input type="hidden" asp-for="Comment.AppUserId" value="@ViewBag.UserId" />

                                @*Advice Id*@
                                <input type="hidden" asp-for="Comment.AdviceId" value="@ViewBag.AdviceId" />

                                @*Comment*@
                                <label for="content">Comment</label>
                                <div class="form-group mb-3">
                                    <i class="far fa-newspaper"></i>
                                    <textarea asp-for="Comment.Comment" id="content" class="comment form-control"></textarea>
                                </div>

                                <button class="submit btn bt-success" type="submit">Send</button>
                            </form>
                        </div>
                    </div>

                    <!-- Model Form Replay -->
                    <div id="modelReplay" class="modal model">
                        <!-- Modal content -->
                        <div class="modal-content">
                            <h4 class="modal-title">Replay</h4>
                            <span class="close">&times;</span>
                            <hr class="mt-3 mb-3">
                            <form asp-action="SaveReplay" role="form" method="post">

                                @*Id*@
                                <input class="id" type="hidden" asp-for="Replay.Id" value="0" />

                                @*User Id*@
                                <input type="hidden" asp-for="Replay.AppUserId" value="@ViewBag.UserId" />

                                @*Advice Id*@
                                <input type="hidden" asp-for="Replay.AdviceId" value="@ViewBag.AdviceId" />

                                @*comment Id*@
                                <input class="commentId" id="commentId" type="hidden" asp-for="Replay.CommentId" />

                                @*Comment*@
                                <label for="content">Replay</label>
                                <div class="form-group mb-3">
                                    <i class="far fa-newspaper"></i>
                                    <textarea asp-for="Replay.Replay" id="content" class="replay form-control"></textarea>
                                </div>

                                <button class="submit btn bt-success" type="submit">Send</button>
                            </form>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 mt-lg-0 mt-5">
                    <div class="Sidebar-style-2">
                        <div class="doctor_profile" data-aos-delay="100" data-aos-duration="800" data-aos="zoom-in">
                            @if (Model.Advice.AppUser.Photo is null)
                            {
                                <img class="photo" src="~/images/person.png" alt="">
                            }
                            else
                            {
                                <img class="lazy photo" data-src="data:image/*;base64,@(Convert.ToBase64String(Model.Advice.AppUser.Photo))" alt="">
                            }
                            <div class="info" data-aos-delay="100" data-aos-duration="800" data-aos="zoom-in">
                                <h3>@Model.Advice.AppUser.FullName</h3>
                                <div class="specialization">@ViewBag.Specialization</div>
                                <li>
                                    <i class="fas fa-notes-medical"></i> Clinic: @Model.Advice.Doctor!.Clinic
                                </li>
                                <li>
                                    <i class="fas fa-phone"></i> @Model.Advice.Doctor!.Phone
                                </li>
                                <li>
                                    <i class="fas fa-map-marker-alt"></i> @Model.Advice.Doctor!.City - @Model.Advice.Doctor!.Country
                                </li>
                                <div class="mb-2 stars" data-aos-delay="100" data-aos-duration="800" data-aos="zoom-in">
                                    <span class="mr-2">(@ViewBag.RatingCount)</span>
                                    <i class="fa-solid fa-star @(Model.CalculateRating >= 1 ? "active": "")"></i>
                                    <i class="fa-solid fa-star @(Model.CalculateRating >= 2 ? "active": "")"></i>
                                    <i class="fa-solid fa-star @(Model.CalculateRating >= 3 ? "active": "")"></i>
                                    <i class="fa-solid fa-star @(Model.CalculateRating >= 4 ? "active": "")"></i>
                                    <i class="fa-solid fa-star @(Model.CalculateRating == 5 ? "active": "")"></i>
                                </div>
                                <div class="share-link" data-aos-delay="100" data-aos-duration="800" data-aos="zoom-in">
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="https://twitter.com/?lang=en" target="_blank">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        @if (ViewBag.UserId is not null) {
                            <div class="posts d-flex justify-content-between align-items-center pb-3" data-aos-delay="100" data-aos-duration="800" data-aos="zoom-in">
                                <div>
                                    <h3 class="mb-0">Add Rating</h3>
                                </div>
                                <div id="rating">
                                    <fieldset class="rating">
                                        <input class="rate" type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                        <input class="rate" type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                        <input class="rate" type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                                        <input class="rate" type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                                        <input class="rate" type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                                    </fieldset>
                                    <input class="userId" type="hidden" value="@ViewBag.UserId" />
                                    <input class="doctorId" type="hidden" value="@Model.Advice.DoctorId" />
                                </div>
                            </div>
                        }
                        <div class="posts">
                            <h3>Latest Advices</h3>
                            @foreach (var item in Model.LatestAdvices!)
                            {
                                <div class="post mb-4 d-flex align-items-center" data-aos-delay="100" data-aos-duration="800" data-aos="zoom-in">
                                    <a asp-controller="Advice" asp-action="AdviceDetails" asp-route-id="@item.Id">
                                        <div class="image">
                                            <img class="lazy" data-src="data:image/*;base64,@(Convert.ToBase64String(item.Image))" alt="">
                                        </div>
                                    </a>
                                    <div class="info">
                                        <div class="dateTime moment-date mb-1">@item.CreationDateTime.ToString("dddd, dd MMMM yyyy HH:mm:ss", new System.Globalization.CultureInfo("en-US"))</div>
                                        <div class="title">
                                            <a asp-controller="Advice" asp-action="AdviceDetails" asp-route-id="@item.Id">
                                                @item.Title.Substring(0, 20)...
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--============= AdviceDetails End ===============-->

@section Scripts {
    @{
        await Html.RenderPartialAsync("_Notification");
    }
    <script src="~/js/comment.js"></script>
    <script src="~/js/replay.js"></script>
    <script src="~/ajax/DeleteComment.js"></script>
    <script src="~/ajax/DeleteReplay.js"></script>
    <script>
        $(".editComment").on('click', function () {
            var modal = document.getElementById("modelComment");

            var commentId = $(this).children('input.id').val();
            var comment = $(this).children('input.comment').val();

            $("#modelComment form input.id").val(commentId);
            $("#modelComment form textarea.comment").val(comment);

            // When the user clicks on <span> (x), close the modal
            $(".close3").on('click', function () {
                $("#modelComment form input.id").val('');
                $("#modelComment form textarea").val('');

                $("#modelComment").css('display', 'none');
                $("#modelComment .modal-content").animate({
                    top: '-300px'
                }, 300);
            });

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    $("#modelComment form input.id").val('');
                    $("#modelComment form textarea").val('');

                    $("#modelComment").css('display', 'none');
                    $("#modelComment .modal-content").animate({
                        top: '-300px'
                    }, 300);
                }
            }
        });
        $(".editReplay").on('click', function () {
            var modal = document.getElementById("modelReplay");

            var replayId = $(this).children('input.id').val();
            var commentId = $(this).children('input.commentId').val();
            var replay = $(this).children('input.replay').val();

            $("#modelReplay form input.id").val(replayId);
            $("#modelReplay form input.commentId").val(commentId);
            $("#modelReplay form textarea.replay").val(replay);

            // When the user clicks on <span> (x), close the modal
            $(".close").on('click', function () {
                $("#modelReplay form input.id").val('');
                $("#modelReplay form input.commentId").val('');
                $("#modelReplay form textarea.replay").val('');

                $("#modelReplay").css('display', 'none');
                $("#modelReplay .modal-content").animate({
                    top: '-300px'
                }, 300);
            });

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    $("#modelReplay form input.id").val('');
                    $("#modelReplay form input.commentId").val('');
                    $("#modelReplay form textarea.replay").val('');

                    $("#modelReplay").css('display', 'none');
                    $("#modelReplay .modal-content").animate({
                        top: '-300px'
                    }, 300);
                }
            }
        });
        $(function () {
            $("a.add_fav").click(function (e) {
                e.preventDefault();

                let id = $(this).data("id");
                let ajaxDiv = $(this).parent().parent().parent().find("div.ajaxbg");
                ajaxDiv.removeClass("d-none");

                $.get('/Favorite/AddToFavorite/' + id, {}, function (data) {
                    $(".favorite").html(data);
                    ajaxDiv.find("img").addClass("d-none");
                    setTimeout(() => {
                        ajaxDiv.animate({ opacity: 0 }, function () {
                            $(this).addClass("d-none").fadeTo(.1, 1);
                            $(this).find("img").removeClass("d-none");
                        });
                    });
                });
            });
        });
        $(function () {
            $("#rating input.rate").change(function () {

                var rate = $(this).val();
                var userId = $("#rating .userId").val();
                var doctorId = $("#rating .doctorId").val();

                $.ajax({
                    url: '/Advice/AddRating?data=' + rate+ '--'+userId+'--'+doctorId,
                    type: 'GET',
                    success: function (data) {
                        toastr.success(data);
                    },
                    error: function () {
                        alert("Somthing went wrong!");
                    }
                });
            });
        });
    </script>
}