@using Microsoft.AspNetCore.Localization
@inject IViewLocalizer Localizer
@model RegisterVM

@{
    var reqCulture = Context.Features.Get<IRequestCultureFeature>();
    var culture = reqCulture.RequestCulture.Culture.Name;
    bool isArabic = culture == "ar-SA";
    ViewData["Title"] = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GOBA - @ViewData["Title"]</title>
    <!-- Favicon Icon -->
    <link rel="shortcut icon" href="~/images/logo.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- LOADING FONTS AND ICONS -->
    <link rel="stylesheet" type="text/css" href="~/rev/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" type="text/css" href="~/rev/fonts/font-awesome/css/font-awesome.css">
    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="~/rev/css/rs6.css">
    <!-- Animation CSS -->
    <link rel="stylesheet" href="~/js/aos/aos.css">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="~/fonts/font-awesome/css/all.min.css">
    <!-- Toaster -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <!--  Style CSS -->
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true">
    
    @if (isArabic)
    {
        <!-- Cairo Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
        <link href="~/css/app.rtl.css" asp-append-version="true" rel="stylesheet">
    }

</head>
<body>

    <section class="login p-0" id="img-bg">
        <img src="~/images/login_cover.jpg" alt="" id="cover">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#fff" fill-opacity="1" d="M0,128L1440,224L1440,320L0,320Z"></path>
        </svg>
        <div class="overlay"></div>
        <div class="content register">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-5 logo_box" data-aos="zoom-in" data-aos-delay="100" data-aos-duration="700" style="text-align: left;">
                        <a asp-controller="Home" asp-action="Index">
                            <img class="logo_white" src="~/images/logo_white.png" alt="">
                        </a>
                        <h2>#Treat_your_body_like_you_care</h2>
                    </div>
                    <div class="col-lg-5" data-aos="zoom-in" data-aos-delay="100" data-aos-duration="700" dir=@(isArabic? "rtl": "ltr")>
                        <div class="box w-100 p-4">
                            <h2 class="mb-4">@Localizer["Register"]</h2>
                            <div class="types d-flex justify-content-center">
                                <div class="type type_1 text-center active_type">
                                    <i class="fas fa-user-injured"></i>
                                    <div class="name">@Localizer["Patient"]</div>
                                </div>
                                <div class="type type_2 text-center">
                                    <i class="fas fa-user-md"></i>
                                    <div class="name">@Localizer["Doctor"]</div>
                                </div>
                            </div>
                            <form role="form" method="post" asp-action="Register" class="mt-3 mb-1">

                                <input type="text" id="role" value="patient" name="role" hidden>

                                <div class="form-group mb-3">
                                    <input asp-for="UserName" type="text" class="form-control" placeholder="@Localizer["Username"]">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="form-group mb-3">
                                    <input asp-for="Email" type="email" class="form-control" placeholder="@Localizer["Email"]">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="form-group mb-3">
                                    <input asp-for="Password" type="password" class="form-control" placeholder="@Localizer["Password"]">
                                    <i class="fas fa-lock"></i>
                                </div>
                                <div class="form-group mb-3">
                                    <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="@Localizer["ConfirmPassword"]">
                                    <i class="fas fa-lock"></i>
                                </div>

                                <button type="submit" class="submit mt-2 mb-3">@Localizer["Submit"]</button>

                            </form>

                            <div class="extra_login">
                                <div>@Localizer["OrLoginWith"]</div>
                            </div>

                            <ul class="social mt-3 mb-4">
                                <li>
                                    <a href="#" class="facebook_bg">
                                        <i class="fab fa-facebook-f"></i>
                                        <span>Facebook</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="twitter_bg">
                                        <i class="fab fa-twitter"></i>
                                        <span>Twitter</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="google_bg">
                                        <i class="fab fa-google"></i>
                                        <span>Google</span>
                                    </a>
                                </li>
                            </ul>

                            <p class="text-center login_txt">@Localizer["AlreadyMember"] <a asp-controller="Account" asp-action="Login">@Localizer["LoginHere"]</a></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--jquery js-->
    <script src="~/js/jquery.min.js"></script>
    <!--bootstrap js-->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Animation JS -->
    <script src="~/js/aos/aos.js"></script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <!--custom js-->
    <script src="~/js/login_script.js" asp-append-version="true"></script>

    @{
        await Html.RenderPartialAsync("_Notification");
    }
</body>
</html>

